<main class="main">
  <div class="container mx-auto">
    <app-logo></app-logo>

    <div class="flex flex-col lg:flex-row mt-6 gap-6">
      <div class="flex flex-col gap-6 items-center lg:items-start">
        <div class="card w-full lg:w-[430px]">
          <img
            alt="avatar2"
            src="assets/avatar2.jpg"
            decoding="async"
            data-nimg="1"
            class="w-full rounded-xl"
          />
        </div>
        <div class="card w-full lg:w-[430px] rounded-xl p-4">
          <h2 class="flex items-center text-sm font-semibold text-zinc-100">
            <svg
              viewBox="0 0 24 24"
              fill="none"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              aria-hidden="true"
              class="h-6 w-6 flex-none"
            >
              <path
                d="M2.75 9.75a3 3 0 0 1 3-3h12.5a3 3 0 0 1 3 3v8.5a3 3 0 0 1-3 3H5.75a3 3 0 0 1-3-3v-8.5Z"
                class="fill-zinc-100 stroke-zinc-400 dark:fill-zinc-100/10 dark:stroke-zinc-500"
              ></path>
              <path
                d="M3 14.25h6.249c.484 0 .952-.002 1.316.319l.777.682a.996.996 0 0 0 1.316 0l.777-.682c.364-.32.832-.319 1.316-.319H21M8.75 6.5V4.75a2 2 0 0 1 2-2h2.5a2 2 0 0 1 2 2V6.5"
                class="stroke-zinc-400 dark:stroke-zinc-500"
              ></path>
            </svg>
            <span class="ml-3">Work</span>
          </h2>
          <ol class="mt-6 space-y-4">
            <li class="flex gap-4">
              <div
                class="relative mt-1 flex h-10 w-10 flex-none items-center justify-center rounded-full shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0"
              >
                <img
                  alt="Techcombank"
                  src="assets/techcombank.svg"
                  width="32"
                  height="32"
                  decoding="async"
                  data-nimg="1"
                  class="h-7 w-7"
                  loading="lazy"
                  style="color: transparent"
                />
              </div>
              <dl class="flex flex-auto flex-wrap gap-x-2">
                <dd class="w-full flex-none text-sm font-mediumtext-zinc-100">
                  Techcombank
                </dd>
                <dt class="sr-only">Role</dt>
                <dd class="text-xs text-zinc-500 dark:text-zinc-400">
                  Senior Software Engineer
                </dd>
                <dt class="sr-only">Date</dt>
                <dt class="sr-only">Company</dt>
                <dd class="ml-auto text-xs text-zinc-400 dark:text-zinc-500">
                  <time datetime="2023">2023</time>
                  <span aria-hidden="true">—</span>
                  <time datetime="Present">Present</time>
                </dd>
              </dl>
            </li>
            <li class="flex gap-4">
              <div
                class="relative mt-1 flex h-10 w-10 flex-none items-center justify-center rounded-full shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0"
              >
                <img
                  alt="Zalopay"
                  src="assets/zalopay.svg"
                  width="32"
                  height="32"
                  decoding="async"
                  data-nimg="1"
                  class="h-7 w-7"
                  loading="lazy"
                  style="color: transparent"
                />
              </div>
              <dl class="flex flex-auto flex-wrap gap-x-2">
                <dd class="w-full flex-none text-sm font-mediumtext-zinc-100">
                  Zalopay
                </dd>
                <dt class="sr-only">Role</dt>
                <dd class="text-xs text-zinc-500 dark:text-zinc-400">
                  Senior Software Engineer
                </dd>
                <dt class="sr-only">Date</dt>
                <dt class="sr-only">Company</dt>
                <dd class="ml-auto text-xs text-zinc-400 dark:text-zinc-500">
                  <time datetime="2018">2018</time>
                  <span aria-hidden="true">—</span>
                  <time datetime="2023">2023</time>
                </dd>
              </dl>
            </li>
            <li class="flex gap-4">
              <div
                class="relative mt-1 flex h-10 w-10 flex-none items-center justify-center rounded-full shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0"
              >
                <img
                  alt="Talktv (VNG)"
                  src="assets/vng.svg"
                  width="32"
                  height="32"
                  decoding="async"
                  data-nimg="1"
                  class="h-7 w-7"
                  loading="lazy"
                  style="color: transparent"
                />
              </div>
              <dl class="flex flex-auto flex-wrap gap-x-2">
                <dd class="w-full flex-none text-sm font-mediumtext-zinc-100">
                  Talktv (VNG)
                </dd>
                <dt class="sr-only">Role</dt>
                <dd class="text-xs text-zinc-500 dark:text-zinc-400">
                  Associate Software Engineer
                </dd>
                <dt class="sr-only">Date</dt>
                <dt class="sr-only">Company</dt>
                <dd class="ml-auto text-xs text-zinc-400 dark:text-zinc-500">
                  <time datetime="2017">2017</time>
                  <span aria-hidden="true">—</span>
                  <time datetime="2018">2018</time>
                </dd>
              </dl>
            </li>
          </ol>
          <a target="_blank" href="/assets/Resume - Loc Dinh The.pdf">
            <button mat-flat-button color="primary" class="w-full mt-6">
              Download CV
            </button>
          </a>
        </div>
      </div>

      <article class="prose lg:prose-xl">
        <h1 class="display-large primary-text">Hello world,</h1>
        <p>
          I'm an enthusiastic Angular developer with a passion for crafting
          dynamic and efficient web applications. With a solid foundation in web
          development and a keen eye for user experience, I thrive on turning
          innovative ideas into reality.
        </p>
        <p>
          My journey in the world of software development began with a deep dive
          into front-end technologies, and Angular quickly became my framework
          of choice. I have hands-on experience in building responsive and
          scalable single-page applications that deliver seamless user
          interactions.
        </p>
        <p>
          In addition to my technical skills, I pride myself on being a
          collaborative team player. I enjoy working in agile environments,
          where creativity and problem-solving go hand in hand. Whether it's
          architecting complex systems or troubleshooting intricate bugs, I
          approach challenges with a solution-oriented mindset.
        </p>
        <p>
          I stay up-to-date with the latest trends in web development, ensuring
          that my projects leverage the most cutting-edge features and best
          practices. Continuous learning is not just a habit but a commitment I
          hold dear.
        </p>
        <p>
          If you're looking for an Angular developer who is not only proficient
          in turning ideas into reality but also passionate about pushing the
          boundaries of web development, I'm eager to bring my skills and
          enthusiasm to your team.
        </p>

        <p>Let's build something extraordinary together!</p>

        <div class="mt-14">
          <h2 id="experience" class="uppercase primary-text">experience</h2>
          <h3 class="mb-0 primary-text">
            Senior Software Engineer / Techcombank
          </h3>
          <p>Jun 2023 - Present</p>
          <ul>
            <li>
              Building stable back-office tools and maintainable, refactor code
              using Angular.
            </li>
            <li>
              Using ngRx Store to provide reactive state management for Angular
              apps.
            </li>

            <li>
              Collaborate with the backend team and integrate API into system.
            </li>
            <li>
              Developing automated tests to validate and ensure the seamless
              functionality of the support user flow.
            </li>
            <li>
              Creating comprehensive unit tests to assess the functionality and
              robustness of applications.
            </li>
            <li>Apply Agile methodology in software development.</li>
          </ul>

          <h3 class="mb-0 primary-text">
            Senior Front-end developer / Zalopay
          </h3>
          <p>July 2018 - 2023</p>
          <ul>
            <li>
              Building stable back-office tools and maintainable, refactor code
              using Angular.
            </li>
            <li>
              Using ngRx Store to provide reactive state management for Angular
              apps.
            </li>
            <li>
              Collaborate with the backend team and integrate API, gRPC into
              system.
            </li>
            <li>
              Convert wireframe to html code and writing cross-browser compliant
              HTML, CSS &amp; JavaScript. Make responsive for multiple devices.
            </li>
            <li>Writing unit test for applications.</li>
            <li>Apply Agile methodology in software development.</li>
          </ul>

          <h3 class="mb-0 primary-text">Web developer / TalkTv</h3>
          <p>April 2017 - July 2018</p>
          <ul>
            <li>
              Maintaining and developing systems using phalcon and laravel
              framework.
            </li>
            <li>
              Receive requests from the marketing team and develop landing-page
              web.
            </li>
            <li>
              Build donate tool using React, using Redux to manage the state of
              the application.
            </li>
            <li>Build CSM tool using Vue.</li>
          </ul>
        </div>
      </article>
    </div>
  </div>

  <router-outlet></router-outlet>
</main>
